## Loukopoulos Orestis | f2822104

## Task 2

In [308]:
from pyspark.sql.session import SparkSession

spark = SparkSession.builder.appName("books").getOrCreate()

* We will load the json file in a dataframe(`df1`)

In [309]:
df1 = spark.read.json("Assignment Spark/books_5000.json")
type(df1)

pyspark.sql.dataframe.DataFrame

* We will check the data types of dataframe's variables.

In [310]:
df1.dtypes

[('asin', 'string'),
 ('authors', 'array<struct<author_id:string,role:string>>'),
 ('average_rating', 'string'),
 ('book_id', 'string'),
 ('country_code', 'string'),
 ('description', 'string'),
 ('edition_information', 'string'),
 ('format', 'string'),
 ('image_url', 'string'),
 ('is_ebook', 'string'),
 ('isbn', 'string'),
 ('isbn13', 'string'),
 ('kindle_asin', 'string'),
 ('language_code', 'string'),
 ('link', 'string'),
 ('num_pages', 'string'),
 ('popular_shelves', 'array<struct<count:string,name:string>>'),
 ('publication_day', 'string'),
 ('publication_month', 'string'),
 ('publication_year', 'string'),
 ('publisher', 'string'),
 ('ratings_count', 'string'),
 ('series', 'array<string>'),
 ('similar_books', 'array<string>'),
 ('text_reviews_count', 'string'),
 ('title', 'string'),
 ('title_without_series', 'string'),
 ('url', 'string'),
 ('work_id', 'string')]

* First of all, we will convert the datatype of column `average_rating` from string to numeric type, in order to perfrom our calculations correctly.

In [311]:
from pyspark.sql.functions import *

df1 = df1.withColumn('average_rating',col('average_rating').cast('double'))

* We select the columns that we want to display. Then we take only the books that have a title that begins with an "L". We sort those observations based on their average rating in descending order. We display only the first row, which is the book with the max `average_rating`.

In [312]:
df1.select(df1.average_rating, df1.book_id, df1.title).where(df1.title.startswith('L')).sort(df1.average_rating.desc()).show(1)

+--------------+--------+--------------------+
|average_rating| book_id|               title|
+--------------+--------+--------------------+
|          4.73|23342149|Locke and Key: Cl...|
+--------------+--------+--------------------+
only showing top 1 row

* The following code returns the average `average_rating` of the books that their title starts with an "O" which is the *second* letter of your my last name.

In [313]:
#We converted our DataFrame to a table
df1.createOrReplaceTempView("df1")

#The following query returns the average "average_rating" of the books
sql_way = spark.sql("""
  SELECT avg(average_rating)
  FROM df1
  WHERE title LIKE 'O%'
  """)

sql_way.show()

+-------------------+
|avg(average_rating)|
+-------------------+
| 3.9694047619047628|
+-------------------+

* First of all, we will convert the datatype of column `num_pages` from string to numeric type, in order to find the max correctly.

In [314]:
df1 = df1.withColumn('num_pages',col('num_pages').cast('double'))

* The following code returns the `book_id` and the `title` of the Paperback books with the most pages, when only books with title starting with the letter "U", which is the third letter of my last name, are considered.

* We select the columns that we want to display. Then we take only the books that have a `title` that begins with an "U" and a Paperback `format`. We sort those books based on their number of pages (e.g., `num_pages`) in descending order. We display only the first row, which is the book with the max `num_pages`.

In [307]:
df1.select(df1.num_pages, df1.book_id, df1.title, df1.format).where((df1.title.startswith('U')) & (df1.format=='Paperback')).sort(df1.num_pages.desc()).show(1)

+---------+-------+-----------------+---------+
|num_pages|book_id|            title|   format|
+---------+-------+-----------------+---------+
|    256.0|1940344|Usagi Yojimbo #12|Paperback|
+---------+-------+-----------------+---------+
only showing top 1 row