## Loukopoulos Orestis | f2822104

In [133]:
from pyspark.sql.session import SparkSession

spark = SparkSession.builder.appName("books").getOrCreate()

* We will load the json file in a dataframe(`df1`)

In [134]:
df1 = spark.read.json('Assignment Spark/books_5000.json')
type(df1)

pyspark.sql.dataframe.DataFrame

* We will count and display the number of books in the database.

In [135]:
df1.count()

4999

* Continuing, we will count and display the number of e-books in the database.

In [136]:
df1.filter(df1.is_ebook.contains("true")).count()

749

* We will display some basic statistics about the `average_rating` field. In order to do that we will convert the `average_rating` column into numeric.

In [141]:
from pyspark.sql.functions import *

df1 = df1.withColumn('average_rating',col('average_rating').cast('double'))

In [142]:
df1.select("average_rating").summary().show()

+-------+------------------+
|summary|    average_rating|
+-------+------------------+
|  count|              4999|
|   mean| 3.911204240848176|
| stddev|0.4344448952868878|
|    min|               1.0|
|    25%|              3.66|
|    50%|              3.98|
|    75%|              4.23|
|    max|               5.0|
+-------+------------------+

* We will also display all the distinct values in the `format` field and their number of appearances.

In [143]:
df1.groupby('format').count().show()

+--------------------+-----+
|              format|count|
+--------------------+-----+
|Paperback comic book|    1|
|        Spiral-bound|    1|
|              Broche|    2|
|       Graphic Novel|    2|
|                  FC|    2|
|            Brochura|    1|
|           Paperback| 2629|
|        Single Issue|    1|
|Bolsillo con sobr...|    2|
|          Broschiert|    2|
|             Planeta|    1|
|       Audible Audio|    1|
|            Audio CD|    2|
|           paperback|    2|
| Slipcased Hardcover|    2|
|     Library Binding|    2|
|       Klappbroschur|    1|
|          Board book|   11|
|     Klappenbroschur|    1|
|                Nook|    1|
+--------------------+-----+
only showing top 20 rows